@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.FacilityStatus.AddModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Add {MaintenanceOptions.FacilityStatus}";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="FacilityStatus.Status">@MaintenanceOptions.FacilityStatus Name <span class="text-danger">*</span></label>
                <input asp-for="FacilityStatus.Status" class="form-control" />
                <span asp-validation-for="FacilityStatus.Status" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-4 mb-3 mb-md-0">Add New @MaintenanceOptions.FacilityStatus</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
    </form>
</div>