@page
@using FMS.Pages.Reporting.Delisted
@model FMS.Pages.Reporting.Delisted.IndexModel

@{
    ViewData["Title"] = $"Delisted Sites Reports";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<hr />
<p class="lead">Select a Report from the list</p>
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <button id="ByDate"
                    asp-page-handler="ByDate"
                    class="btn btn-sm btn-outline-primary mb-1">
                Report
            </button>
            Delisted Sites By Date
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <button id="ByDateRange"
                    asp-page-handler="ByDateRange"
                    class="btn btn-sm btn-outline-primary mb-1">
                Report
            </button>
            Delisted Sites By Date Range
        </div>
        <div class="col-md-2">
            <label asp-for="StartDate" class="form-label"></label>
            <input asp-for="StartDate" class="form-control datepicker" type="date" placeholder="" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="EndDate" class="form-label">End Date <span class="text-danger">*</span></label>
            <input asp-for="EndDate" class="form-control datepicker" type="date" placeholder="" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <p><span class="text-danger">* denotes required field</span></p>
</form>