@page "{id:Guid?}"
@model Pages.Users.DetailsModel
@{
    ViewData["Title"] = "User Admin";
}

<h1>User Admin</h1>

@if (Model.ShowSuccessMessage)
{
    <div class="alert alert-success" role="alert">
        User account successfully updated.
    </div>
}

<div class="container">
    <div class="row my-3">
        <div class="mr-2">
            <img src="https://www.gravatar.com/avatar/@Model.Email.MD5Hash()?s=128&r=pg&d=identicon" class="img-thumbnail" alt="Account image" />
        </div>
        <div>
            <h2>@Model.DisplayName<a asp-page="./Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm">Edit</a></h2>
            <p>@Model.Email</p>
        </div>
    </div>
</div>
