@page "{id:Guid?}"
@model FMS.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit User Roles";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            User update failed:
        </div>
        <p>Roles for: @Model.DisplayName &lt;@Model.Email&gt;</p>
        <div class="form-check mb-3">
            <input asp-for="HasAdminRole" class="form-check-input">
            <label asp-for="HasAdminRole" class="form-check-label"></label>
        </div>
        <input asp-for="UserId">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-page="./Details" asp-route-id="@Model.UserId" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>