@page "{id:Guid?}"
@using FMS.Pages.Score
@using FMS.Domain.Entities.Users
@model FMS.Pages.Score.EditModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = "Edit Score Properties";
}
<h1>
    @ViewData["Title"]
</h1>
<hr />

