@page
@using FMS.Pages.Reporting.AbndInac
@model FMS.Pages.Reporting.AbndInac.IndexModel

@{
    ViewData["Title"] = $"Abandoned/Inactive Reports";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<hr />
<p class="lead">Select a Report from the list</p>
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <button id="Tracker"
                    asp-page-handler="Tracker"
                    class="btn btn-sm btn-outline-primary mb-1">
                Report
            </button>
            Abandoned/Inactive Status Tracker <span class="text-danger">*<i> Under Construction</i></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <button id="Cost"
                    asp-page-handler="Cost"
                    class="btn btn-sm btn-outline-primary mb-1">
                Report
            </button>
            Abandoned Sites Cost Estimate Report
        </div>
    </div>
</form>