@page
@model Pages.Files.IndexModel
@{
    ViewData["Title"] = "File Contents";
}
    <div class="text-center">
        <h4 >File Contents</h4>
        <div class="container-fluid">
            <h3 >File Contents here</h3>
        </div>
    </div>