@page
@model FMS.Pages.Cabinets.AddModel

@section ScriptFiles {
    <script src="~/dist/formValidation.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
}

@{
    ViewData["Title"] = "Add Cabinet";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="NewCabinet.Name"></label>
                <input asp-for="NewCabinet.Name" class="form-control" />
                <span asp-validation-for="NewCabinet.Name" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="NewCabinet.FirstFileLabel"></label>
                <input asp-for="NewCabinet.FirstFileLabel" class="form-control" placeholder="000-0000" aria-describedby="FileLabelHelpBlock" />
                <span asp-validation-for="NewCabinet.FirstFileLabel" class="text-danger"></span>
                <small id="FileLabelHelpBlock" class="form-text text-muted">
                    <i>First File Label</i> is the first/lowest file label in the cabinet.
                </small>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary col-sm-4 col-md-3 mb-3 mb-sm-0">Create New Cabinet</button>
    </form>
</div>