@page "{id}"
@model Pages.Cabinets.DetailsModel
@{
    ViewData["Title"] = $"Cabinet {Model.CabinetDetail.Name}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.CabinetDetail.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
    @* TODO #38: Add authorize check in production *@
    <a asp-page="Edit" asp-route-id="@Model.CabinetDetail.Id" class="btn btn-sm btn-outline-primary">Edit</a>
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="my-3">
    <h2>Files</h2>
    @if (Model.CabinetDetail.Files != null && Model.CabinetDetail.Files.Count > 0)
    {
        @foreach (var c in Model.CabinetDetail.Files)
        {
            <a asp-page="/Files/Details" asp-route-id="@c.FileLabel" class="btn btn-sm btn-outline-info m-1">@c.FileLabel</a>
        }
    }
    else
    {
        <p class="lead text-info">No Files found for this Cabinet.</p>
    }
</div>
