@page "{id}"
@using FMS.Domain.Entities.Users
@model FMS.Pages.Cabinets.DetailsModel
@{
    ViewData["Title"] = $"Cabinet {Model.CabinetSummary.Name}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.CabinetSummary.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
    @if (User.IsInRole(UserRoles.SiteMaintenance))
    {
        <a asp-page="Edit" asp-route-id="@Model.CabinetSummary.Id" class="btn btn-sm btn-outline-primary">Edit</a>
    }
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="container bg-light-subtle rounded-3">
    <p>
        <em>File Label Range</em> is used for displaying the storage cabinets used for each File or Facility. The range is
        from the First File Label for the cabinet up to (but not including) the First File Label for the next cabinet.
    </p>
    <dl class="row">
        <dt class="col-sm-2">File Label Range</dt>
        <dd class="col-sm-10">@Model.CabinetSummary.FirstFileLabel — (@Model.CabinetSummary.LastFileLabel)</dd>
    </dl>
</div>