@page
@using FMS.Pages.Admin
@model FMS.Pages.Admin.AddBudgetCodeModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Add Budget Code";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <input type="hidden" asp-for="BudgetCode.Active" />
            <div class="form-group col-md-2">
                <label>Budget Code <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Code" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="BudgetCode.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-10">
                <label>Budget Code Name <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Name" class="form-control" />
                <span asp-validation-for="BudgetCode.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Organization Number</label>
                <input asp-for="BudgetCode.OrganizationNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.OrganizationNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>ProjectNumber</label>
                <input asp-for="BudgetCode.ProjectNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.ProjectNumber" class="text-danger"></span>
            </div>
        </div>
        <p class="text-danger">* denotes a required field</p>
        <hr />
        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-4 mb-3 mb-md-0">Add New Budget Code</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2" asp-route-handler="select"
           asp-route-MaintenanceSelection="@MaintenanceOptions.BudgetCode">
            Cancel
        </a>
    </form>
</div>