@page "{name:string?}"
@using FMS.Domain.Entities.Users
@model FMS.Pages.Admin.DetailsComplianceOfficerModel
@{
    ViewData["Title"] = $"Compliance Officer: {Model.DisplayName}";
}
<h1>@ViewData["Title"]</h1>
<partial name="_AlertPartial" for="Message" />
<div class="container">
    <div class="row my-3">
        <div class="mr-2">
            <img src="https://www.gravatar.com/avatar/@Model.Email.MD5Hash()?s=128&r=pg&d=identicon" class="img-thumbnail" alt="Account image" />
        </div>
        <div class="container-fluid bg-light py-3">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <div class="form-row">
                    <h2>
                        @Model.DisplayName
                    </h2>
                    <p>@Model.Email</p>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="form-check">
                            <input asp-for="Add" />
                            <label class="form-check-label">Add/Remove from list</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-3">Save Changes</button>
                        <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>