@page "{id:Guid?}"
@model FMS.Pages.Admin.EditBudgetCodeModel
@{
    ViewData["Title"] = $"Edit Budget Code: {Model.BudgetCode.Code}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.BudgetCode.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
</h1>
<hr />
<div class="container-fluid">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Budget Code <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Code" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="BudgetCode.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-10">
                <label>Budget Code Name <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Name" class="form-control" />
                <span asp-validation-for="BudgetCode.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Organization Number</label>
                <input asp-for="BudgetCode.OrganizationNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.OrganizationNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>ProjectNumber</label>
                <input asp-for="BudgetCode.ProjectNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.ProjectNumber" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary col-md-2">Save Changes</button>
                <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
            </div>
        </div>
    </form>
</div>
