@page "{id:Guid?}"
@using FMS.Pages.Admin
@model FMS.Pages.Admin.EditBudgetCodeModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Edit Budget Code: {Model.BudgetCode.Code}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.BudgetCode.Active)
    {
        <span class="text-muted">(Removed)</span>
    }
</h1>

<div class="container bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="BudgetCode.Active" />
        <input type="hidden" asp-for="Id" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Budget Code <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Code" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="BudgetCode.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-10">
                <label>Budget Code Name <span class="text-danger">*</span></label>
                <input asp-for="BudgetCode.Name" class="form-control" />
                <span asp-validation-for="BudgetCode.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Organization Number</label>
                <input asp-for="BudgetCode.OrganizationNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.OrganizationNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Project Number</label>
                <input asp-for="BudgetCode.ProjectNumber" class="form-control" />
                <span asp-validation-for="BudgetCode.ProjectNumber" class="text-danger"></span>
            </div>
        </div>
        <p class="text-danger">* denotes a required field</p>
        <hr />
        <button type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Save Changes</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2" asp-route-handler="select"
           asp-route-MaintenanceSelection="@MaintenanceOptions.BudgetCode">
            Cancel
        </a>
    </form>
</div>