@page
@model Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Site Maintenance";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="container-fluid">
    <form method="get" asp-fragment="SearchResults">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="DropDownSelection"></label>
                <select asp-for="DropDownSelection" class="custom-select">
                    <option value=0></option>
                    <option value=1>Budget Code</option>
                    <option value=2>Compliance Officer</option>
                    <option value=3>Environmental Interest</option>
                    <option value=4>Facility Status</option>
                    <option value=5>Facility Type</option>
                    <option value=6>File Cabinet</option>
                    <option value=7>File</option>
                    <option value=8>Organizational Unit</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <input type="hidden" name="handler" value="search" />
                <button id="SearchButton" type="submit" class="btn btn-primary col-md-2">Select</button>
            </div>
        </div>
    </form>
</div>
<hr />
<a name="SearchResults"></a>
@if (Model.DropDownSelection == 1)
{
<div class="container-fluid">
    <h5>Select from list of Budget Codes to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="BudgetCodeId"></label>
        <select asp-for="BudgetCodeId" asp-items="Model.BudgetCodes" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 2)
{
<div class="container-fluid">
    <h5>Select from list of Compliance Officers to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="ComplianceOfficerId"></label>
        <select asp-for="ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 3)
{
<div class="container-fluid">
    <h5>Select from list of Environmental Interests to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="EnvironmentalInterestId"></label>
        <select asp-for="EnvironmentalInterestId" asp-items="Model.EnvironmentalInterests" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 4)
{
<div class="container-fluid">
    <h5>Select from list of Facility Statuses to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="FacilityStatusId"></label>
        <select asp-for="FacilityStatusId" asp-items="Model.FacilityStatuses" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 5)
{
<div class="container-fluid">
    <h5>Select from list of Facility Types to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="FacilityTypeId"></label>
        <select asp-for="FacilityTypeId" asp-items="Model.FacilityTypes" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 6)
{
<div class="container-fluid">
    <h5>Select from list of File Cabinets to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="FileCabinetId"></label>
        <select asp-for="FileCabinetId" asp-items="Model.FileCabinets" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 7)
{
<div class="container-fluid">
    <h5>Select from list of Files to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="FileId"></label>
        <select asp-for="FileId" asp-items="Model.Files" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}
@if (Model.DropDownSelection == 8)
{
<div class="container-fluid">
    <h5>Select from list of Organizational Units to Modify</h5>
    <div class="form-group col-md-4">
        <label asp-for="OrganizationalUnitId"></label>
        <select asp-for="OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="custom-select">
            <option value=""></option>
        </select>
    </div>
</div>
}

