@page
@model Pages.Facilities.DetailsModel
@{
    ViewData["Title"] = "Facility Details";
}
    <div class="text-center">
        <h4 >Facility Information</h4>
        <div class="container-fluid">
            <h3>Facility Details Here</h3>
        </div>
    </div>