@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.GapsAssessment.AddModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Add {MaintenanceOptions.GapsAssessment}";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="row mb-3">
            <div class="col-md-2">
                <label asp-for="GapsAssessment.Name">Name <span class="text-danger">*</span></label>
                <input asp-for="GapsAssessment.Name" class="form-control" />
                <span asp-validation-for="GapsAssessment.Name" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label asp-for="GapsAssessment.Description">Description <span class="text-danger">*</span></label>
                <input asp-for="GapsAssessment.Description" class="form-control" />
                <span asp-validation-for="GapsAssessment.Description" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-5 mb-3 mb-md-0">Add New @MaintenanceOptions.GapsAssessment</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2" asp-route-handler="select"
           asp-route-MaintenanceSelection="@MaintenanceOptions.GapsAssessment">
            Cancel
        </a>
    </form>
</div>
