@page "{id:Guid?}"
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.GroundwaterStatus.EditModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Edit {MaintenanceOptions.GroundwaterStatus}: {Model.GroundwaterStatus.Name}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.GroundwaterStatus.Active)
    {
        <span class="text-muted">(Removed)</span>
    }
</h1>

<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="GroundwaterStatus.Active" />
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="GroundwaterStatus.Name">@MaintenanceOptions.GroundwaterStatus <span class="text-danger">*</span></label>
                <input asp-for="GroundwaterStatus.Name" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="GroundwaterStatus.Name" class="text-danger"></span>
            </div>
            <div class="col-md">
                <label asp-for="GroundwaterStatus.Description">@MaintenanceOptions.GroundwaterStatus Description <span class="text-danger">*</span></label>
                <input asp-for="GroundwaterStatus.Description" class="form-control" />
                <span asp-validation-for="GroundwaterStatus.Description" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Save Changes</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
    </form>
</div>