@page
@using FMS.Pages.Reporting.PAF
@model FMS.Pages.Reporting.PAF.IndexModel

@{
    ViewData["Title"] = $"PAF Report";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>

<h2><i>Under Construction</i></h2>