@page "{id:Guid?}"
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.EventType.EditModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Edit {MaintenanceOptions.EventType}: {Model.EventType.Name}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.EventType.Active)
    {
        <span class="text-muted">(Removed)</span>
    }
</h1>

<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="EventType.Active" />
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">
            <div class="col-md-10">
                <label asp-for="EventType.Name">@MaintenanceOptions.EventType Name <span class="text-danger">*</span></label>
                <input asp-for="EventType.Name" class="form-control" />
                <span asp-validation-for="EventType.Name" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Save Changes</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2" asp-route-handler="select"
           asp-route-MaintenanceSelection="@MaintenanceOptions.EventType">
            Cancel
        </a>
    </form>
</div>
}
