@page
@using FMS.Pages.Reporting.Events
@model FMS.Pages.Reporting.Events.IndexModel

@{
    ViewData["Title"] = $"Events Reports";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<p class="lead">Select a Report from the list</p>

<form method="post">
    <button id="Pending"
            asp-page-handler="Pending"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Pending Report
    <br />
    <button id="Completed"
            asp-page-handler="Completed"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Completed Report
    <br />
    <button id="Compliance"
            asp-page-handler="Compliance"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Compliance Report
    <br />
    <button id="CompletedOutstanding"
            asp-page-handler="CompletedOutstanding"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Completed Outstanding Report
    <br />
    <button id="Overdue"
            asp-page-handler="Overdue"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Overdue Report
</form>