@page
@model FMS.Pages.Reporting.Events.IndexModel

@section Scripts {
    <script src="~/js/MultiSelectEventType.js"></script>
    <script src="~/js/MultiSelectOrgUnit.js"></script>
    <script src="~/js/MultiSelectCO.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
}
@section Styles
{
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        /* Dropdown container height & background */
        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            min-height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            line-height: 1.5;
            font-size: 1rem;
            font-weight: 400;
            background-color: var(--bs-body-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            color: var(--bs-body-color);
        }

            /* Single select placeholder */
            .select2-container--default .select2-selection--single .select2-selection__placeholder {
                color: var(--bs-body-color) !important; /* black like other fields */
                opacity: 1 !important;
            }

            /* Multi-select placeholder */
            .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
                color: black /* var(--bs-body-bg) */ !important;
                opacity: 1 !important;
            }

        /* Ensure text after selection is black too */
        .select2-container--default .select2-selection__rendered {
            color: black /* var(--bs-body-bg) */ /* var(--bs-body-color) */ !important;
            opacity: 1 !important;
        }

        /* Dropdown options */
        .select2-container--default .select2-results__option {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
        }

        .select2-container--default .select2-results__option--highlighted {
            background-color: var(--bs-body-bg); /* #e9ecef;*/
            color: var(--bs-body-color);
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: var(--bs-body-bg); /*#0d6efd;*/
            color: var(--bs-body-color); /* #fff;*/
        }

        .select2-container--default.select2-container--focus .select2-selection--single,
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #86b7fe; /* same as .form-control:focus border */
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Bootstrap focus glow */
        }
    </style>
}

@{
    ViewData["Title"] = $"Events Reports";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<hr />
<p class="lead">Select a Date Range for your Report</p>
<div class="p-3 rounded-3 bg-light-subtle">
    <form method="post">
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Spec.StartDate" class="form-label">Start Date <span class="text-danger">*</span></label>
                <input asp-for="Spec.StartDate" class="form-control datepicker" type="date" placeholder="" />
                <span asp-validation-for="Spec.StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Spec.EndDate" class="form-label">End Date <span class="text-danger">*</span></label>
                <input asp-for="Spec.EndDate" class="form-control datepicker" type="date" placeholder="Spec.EndDate" />
                <span asp-validation-for="Spec.EndDate" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="mb-3 row">
            <div class="col-md-4">
                <label asp-for="Spec.EventTypeId"></label>
                <select asp-for="Spec.EventTypeId" asp-items="Model.EventTypes" class="form-control" multiple="multiple">
                </select>
                <span class="text-danger">*Only for Pending and Completed Reports</span>
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.OrganizationalUnitId"></label>
                <select asp-for="Spec.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="form-control" multiple="multiple">
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.ComplianceOfficerId"></label>
                <select asp-for="Spec.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="form-control" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <a asp-page="./Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear</a>
        </div>
        <hr />
        <p class="lead">Select a Report from the list</p>
        <div class="row">
            <div class="col-md-8">
                <button id="Pending"
                        asp-page-handler="Pending"
                        asp-all-route-data="Model.Spec.AsRouteValues()"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                Pending Report
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <button id="Completed"
                        asp-page-handler="Completed"
                        asp-all-route-data="Model.Spec.AsRouteValues()"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                Completed Report <span class="text-danger">*Please choose a Start and End Date</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <button id="Compliance"
                        asp-page-handler="Compliance"
                        asp-all-route-data="Model.Spec.AsRouteValues()"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                Compliance Report <span class="text-danger">*Please choose a Start and End Date</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <button id="CompletedOutstanding"
                        asp-page-handler="CompletedOutstanding"
                        asp-all-route-data="Model.Spec.AsRouteValues()"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                Completed Outstanding Report <span class="text-danger">*Please choose a Start and End Date</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <button id="Outstanding"
                        asp-page-handler="Outstanding"
                        asp-all-route-data="Model.Spec.AsRouteValues()"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                Outstanding Report
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <button id="NoActionTaken"
                        asp-page-handler="NoActionTaken"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Report
                </button>
                No Action Taken Report
            </div>
        </div>
    </form>
</div>