// Grid container
.usa-grid,
.usa-grid-full {
  width: 100%;
}

// Forms
legend {
  font-size: $h3-font-size;
  margin-top: 2rem;
}

label,
input[type="radio"] + label {
  margin-top: 1rem;
}

// Search
.usa-search {
  [type=search],
  .usa-search-input {
    border-bottom-left-radius: .3rem;
    border-top-left-radius: .3rem;
  }
}