@page
@model FMS.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="lead">An error occurred while processing your request.</p>
<p>If you need assistance related to this error, please contact EPD IT support.</p>

@if (Model.ShowRequestId)
{
    <p>
        Request ID: <code class="text-info">@Model.RequestId</code>
    </p>
}