@using FMS.Domain.Entities.Users

<nav class="navbar navbar-expand-sm">
    <div class="container bg-light-subtle p-3 m-1 rounded-3" id="HSINavBar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">HSI Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Substances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HSINavBar">Events</a>
            </li>
        </ul>
        <hr />
    </div>
</nav>