<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMS - @ViewData["Title"]</title>
    <partial name="_FaviconPartial" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
    <partial name="_RaygunScriptsPartial" />
    <script src="~/js/color-modes.js"></script>
</head>

<body id="top" class="d-flex flex-column">
    <environment exclude="Production">
        <div class="banner-test-site">
            Test Site
        </div>
    </environment>
    <a class="skipnav" href="#main-content">Skip to main content</a>
    <header role="banner">
        <div class="container h3 my-2">
            <img src="~/images/epd-icon.svg" alt="Georgia EPD" class="img-logo" />
            <a href="/" aria-label="Home" class="link-dark link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover">File Management System</a>
        </div>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <partial name="_MenuPartial" />
        }
    </header>

    <main id="main-content" role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer pt-3">
        <div class="container text-brand">
            <a href="#">↑ Return to top</a>
        </div>
        <div class="bg-brand text-light">
            <div class="container">
                <small>
                    &copy; @DateTime.Now.Year Environmental Protection Division IT
                    <span class="d-print-none">
                        | <a href="https://georgia.gov/accessibility" target="_blank" rel="noopener">Accessibility</a>
                        | <a href="https://gadnr.org/ada" target="_blank" rel="noopener">DNR Accessibility Notice</a>
                        | <a href="https://georgia.gov/privacysecurity" target="_blank" rel="noopener">Privacy/Security</a>
                    </span>
                </small>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>