@using Domain.Entities.Users
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown text-dark">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdownMenuLink" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <img src="https://www.gravatar.com/avatar/@User.Identity.Name.MD5Hash()?s=24&r=pg&d=identicon" alt="View account menu" title="View account menu" />
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
                <div class="dropdown-item-text">Signed in as @User.Identity.Name</div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-page="/Account/Index">Your profile</a>
                <form class="form-inline dropdown-item p-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/")" method="post">
                    <button type="submit" class="nav-link text-dark btn btn-link dropdown-item px-4 py-2">Sign out</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
        </li>
    }
</ul>
