<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown text-dark">
            <a class="nav-link dropdown-toggle text-white" href="#" id="accountDropdownMenuLink" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <img src="https://www.gravatar.com/avatar/@User.Identity.Name.MD5Hash()?s=31&r=pg&d=identicon" alt="Account menu" title="View account menu" class="rounded" />
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
                <a class="dropdown-item" asp-page="/Account/Index">Your profile</a>
                <form class="form-inline dropdown-item p-0" asp-page="/Account/Logout" method="post">
                    <button type="submit" class="nav-link text-dark btn btn-link dropdown-item px-4 py-2">Sign out</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Account/Login">Sign in</a>
        </li>
    }
</ul>
