/* Color modes
-------------------------------------------------- */
:root,
[data-bs-theme="light"] {
    --bs-body-bg: /*#C8E3E8;*/ #c8f8d5;
    --callout-link: 10, 88, 202;
}

[data-bs-theme="dark"] {
    --bs-body-bg: /*#507033;*/ #013901;
    --callout-link: 110, 168, 254;
}

/* Base colors
-------------------------------------------------- */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #5BAFD1;
}

.btn-primary {
    color: #fff;
    background-color: /*#5BAFD1;*/ #1b6ec2;
    border-color: /*#507033;*/ #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Fix missing :focus styles
-------------------------------------------------- */
a:focus {
    color: #0056b3;
    text-decoration: underline;
}

a:focus:not(.btn) {
    text-decoration: none;
}

.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
}

.btn-success:focus {
    color: #fff;
    background-color: #218838;
}

.btn-info:focus {
    color: #fff;
    background-color: #138496;
}

.btn-warning:focus {
    color: #212529;
    background-color: #e0a800;
}

.btn-danger:focus {
    color: #fff;
    background-color: #c82333;
}

.btn-light:focus {
    color: #212529;
    background-color: #e2e6ea;
}

.btn-dark:focus {
    color: #fff;
    background-color: #23272b;
}

.btn-outline-primary:focus {
    color: #fff;
    background-color: #007bff;
}

.btn-outline-secondary:focus {
    color: #fff;
    background-color: #6c757d; /*#5BAFD1;*/ /*#0069d9;*/ /*#507033;*/
}

.btn-outline-secondary {
    color: #fff;
    background-color: #6c757d; /*#5BAFD1;*/ /*#0069d9;*/ /*#507033;*/
}

.btn-outline-success:focus {
    color: #fff;
    background-color: #28a745;
}

.btn-outline-info {
    color: #fff;
    background-color:  #17a2b8; /*#5BAFD1;*/ /*#507033;*/
}

.btn-outline-warning:focus {
    color: #212529;
    background-color: #ffc107;
}

.btn-outline-danger:focus {
    color: #fff;
    background-color: #dc3545;
}

.btn-outline-light:focus {
    color: #212529;
    background-color: #f8f9fa;
}

.btn-outline-dark:focus {
    color: #fff;
    background-color: #343a40;
}

/* Branding
-------------------------------------------------- */
.bg-brand {
    background-color: #04691a; /*#5BAFD1;*/
}

/* Header logo */
.img-logo {
    height: 60px;
}

/* Nav bar */
.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
}

/* Footer */

body {
    margin-bottom: 120px; /* Sticky footer correction */
}

.footer a {
    color: #008000;
}

.footer a:hover, .footer a:focus {
    color: #106717;
}

.footer .bg-brand a {
    color: #ffff00;
}

.footer .bg-brand a:hover, .footer .bg-brand a:focus {
    color: #d9d900;
}

/* Skip to content link
-------------------------------------------------- */
.skipnav {
    background: transparent;
    color: #212121;
    text-decoration: underline;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: -4.2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.skipnav:focus {
    background: #fff;
    left: 0;
    outline: 0;
    box-shadow: 0 0 3px #1B98CA, 0 0 7px #1B98CA;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
}

/* Button with image 
-------------------------------------------------- */
.btn-img {
    line-height: 1;
}

.btn-img img {
    height: 35px;
}

.btn-img-bg {
    background: white;
    box-shadow: 0 0 1px white;
    padding: 2px;
}

.btn-img svg {
    fill: #222;
    transition: fill .15s ease-in-out;
    border-radius: 4px;
}

[data-bs-theme="dark"] .btn-img svg {
    fill: #fff;
}

.btn:hover svg,
.btn:active svg,
.btn:focus-visible svg {
    fill: var(--bs-btn-hover-color);
}

/* Table caption
-------------------------------------------------- */
caption {
    caption-side: top;
}

/* Additional font styles
-------------------------------------------------- */
.font-weight-medium {
    font-weight: 500 !important;
}

.text-pre-line {
    white-space: pre-line !important;
}

/* External links
-------------------------------------------------- */
a[target]::after {
    content: ' \1f5d7';
}

/* Test site banner */

.banner-test-site {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: .9;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px white;
    background: repeating-linear-gradient(135deg, #f6da52bb, #f6da52bb 10px, #ffef80bb 10px, #ffef80bb 20px);
    box-shadow: 0 4px 8px rgba(130, 106, 15, 0.37);
}

/* Bootstrap Icons
-------------------------------------------------- */
.bi {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    vertical-align: text-bottom;
    overflow: visible !important;
}

/* Callouts
-------------------------------------------------- */
/* Adapted from the Bootstrap Docs (https://getbootstrap.com/).
  Licensed under the Creative Commons Attribution 3.0 Unported License. */

.callout {
    --bs-link-color-rgb: var(--callout-link);
    --callout-color: var(--bs-body-color);
    --callout-bg: var(--bs-dark-bg-subtle);
    --callout-border: var(--bs-dark-border-subtle);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--callout-color, inherit);
    background-color: var(--callout-bg, var(--bs-gray-200));
    border-left: 0.25rem solid var(--callout-border, var(--bs-gray-400));
}

.callout > :last-child {
    margin-bottom: 0;
}

.callout + .callout {
    margin-top: -.25rem;
}

.callout .highlight {
    background-color: rgba(0, 0, 0, 0.05);
}

.callout-info {
    --callout-color: var(--bs-info-text-emphasis);
    --callout-bg: var(--bs-info-bg-subtle);
    --callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
    --callout-color: var(--bs-warning-text-emphasis);
    --callout-bg: var(--bs-warning-bg-subtle);
    --callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
    --callout-color: var(--bs-danger-text-emphasis);
    --callout-bg: var(--bs-danger-bg-subtle);
    --callout-border: var(--bs-danger-border-subtle);
}

/* Print styles
-------------------------------------------------- */
@media print {
    .banner-test-site {
        position: static;
        text-shadow: none;
        box-shadow: none;
        border: 1px solid;
    }

    .banner-test-site::after {
        content: "—Not for public distribution";
    }
}
/* Chemical select box
-------------------------------------------------- */
.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

/*Bootstrap Accordion colors*/
/* Apply directly to your custom accordion or override globally */
.accordion {
    --bs-accordion-bg: #c8f8d5; /* Body background */
    /*--bs-accordion-color: #0d5f06;*/ /* Body text color */
    --bs-accordion-btn-bg: #c8f8d5; /* Collapsed button background */
    --bs-accordion-btn-color: #212529; /* Collapsed button text */
    --bs-accordion-active-bg: #013901; /* Expanded button background */
    --bs-accordion-active-color: #c8f8d5; /* Expanded button text */
    --bs-accordion-border-color: #09601d; /* Border color */
}

 /*1. Header Button when EXPANDED (Active)*/ 
.accordion-button:not(.collapsed) {
    background-color: #013901;  /*Custom active background */
    color: #c8f8d5;  /*Custom active text color */
}

 /*2. Remove or change the blue focus halo outline*/ 
.accordion-button:focus {
    box-shadow: initial;
    border-color: #09601d;
}

 /*3. The inner body background */
.accordion-body {
    background-color: #013901;
}

