$base-print-font-size:      rem(14px);
$small-print-font-size:     rem(10px);
$lead-print-font-size:      rem(20px);
$title-print-font-size:     rem(40px);
$h1-print-font-size:        rem(30px);
$h2-print-font-size:        rem(20px);
$h3-print-font-size:        rem(17px);
$h4-print-font-size:        rem(15px);
$h5-print-font-size:        rem(13px);
$h6-print-font-size:        rem(12px);

@media not print {
    .gaepd-printonly {
        display: none;
    }
}

@media print {
    // Remove unnecessary elements
    .usa-menu-btn,
    .usa-nav,
    .usa-footer-return-to-top,
    #gagov_external_blocks-topper,
    .gaepd-footer {
        display: none;
    }

    // Fix layout
    .usa-layout-docs {
        display: block;
    }

    // Font sizes
    body {
        font-size: $base-print-font-size;
    }
    title {
        font-size: $title-print-font-size;
    }
    h1 {
        font-size: $h1-print-font-size;
    }
    h2 {
        font-size: $h2-print-font-size;
    }
    h3 {
        font-size: $h3-print-font-size;
    }
    h4 {
        font-size: $h4-print-font-size;
    }
    h5 {
        font-size: $h5-print-font-size;
    }
    h6 {
        font-size: $h6-print-font-size;
    }
    .usa-font-lead {
        font-size: $lead-print-font-size;
    }
    .usa-text-small {
        font-size: $h6-print-font-size;
    }
    .usa-hero-callout {
        .usa-button {
            font-size: $small-print-font-size;
        }
    }
    .usa-label {
        font-size: $h5-print-font-size;
    }
    .usa-label-big {
        font-size: $base-print-font-size;
    }
    legend {
        font-size: $h3-print-font-size;
    }

    // Tables
    .gaepd-table-compact {
        margin: 1em 0;

        th, 
        td {
            padding: .5rem;
        }
    }

    // HR
    hr {
        border-top: 1px solid $color-base;
        height: 0;
        background-image: none;
    }
}
