// Table variations
.gaepd-table-autowidth {
    min-width: auto;
}

.gaepd-table-compact {
    th, 
    td {
        border: none;
        padding: 1rem;
    }
}

.gaepd-table-rowheadings {
    tbody { 
        th {
            font-weight: bold;
        }
    }

    tr {
        vertical-align: text-top;
    }
}

.gaepd-table-aligntop {
    tr {
        vertical-align: text-top;
    }
}


// Row highlights/lowlights
.gaepd-tablerow-highlight {
    th,
    td {
        background-color: $color-gold-lightest;
    }
}
.gaepd-tablerow-dimmed {
    th, 
    td {
        color: $color-gray-warm-dark;
        background: $color-gray-warm-light;
    }
}

// Sortable table headings
.gaepd-sortable {
    a {
        text-decoration: none;

        &:visited {
            color: $color-primary;
        }

        &:hover,
        &:active {
            color: $color-visited;
            text-decoration: underline;
        }
    }
    
    &[aria-sort=ascending] a:after {
        content: "▼";
    }

    &[aria-sort=descending] a:after {
        content: "▲";
    }        
}

// Responsive tables
@media (max-width: $small-screen) {
    .gaepd-table-responsive  {
        border: 0;
        line-height: $base-line-height;
        font-size: $base-font-size;

        thead th:not(.gaepd-sortable) {
            display: none;            
        }
        
        tr {
            display: block;
        }

        tbody tr {
            border-top: 2px solid $color-gray;
            margin-bottom: 2rem;
        }

        th {
            background: $color-gray-lightest
        }

        th, td {
            @include clearfix;
            display: block;
            text-align: left;
            border-bottom: 1px solid $color-gray-light;
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 1rem .5rem;

            &:last-child {
                border-bottom: none;
            }

            &:before {
                content: attr(data-label) ":\a0 ";
                float: left;
                font-weight: $font-bold;
            }
        }

        &.gaepd-table-rowheadings {
            th, td {
                &:before {
                    content: none;
                }
            }
        }
    }
}
