@page
@model FMS.Pages.Account.UnavailableModel
@{
    ViewData["Title"] = "Account Unavailable";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">This account is unavailable. Please contact support.</p>
