@page
@model Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Drop-Down Edit";
}
    <div class="text-center">
        <h4>Modify Drop-Down Menus</h4>
        <div class="container-fluid">
            <form>
                <h3>Modify Here</h3>
            </form>
            
        </div>
    </div>