@page
@model FMS.Pages.Reporting.AssignmentList.IndexModel

@{
    ViewData["Title"] = $"Assignment List Reports";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<p class="lead">Select a Report from the list</p>

<form method="post">
    <button id="ByCO"
            asp-page-handler="ByCO"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Assignment Report By CO
    <br />
    <button id="ByCounty"
            asp-page-handler="ByCounty"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Assignment Report By County
    <br />
    <button id="ByHSI"
            asp-page-handler="ByHSI"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Assignment Report By HSI
    <br />
    <button id="BySiteName"
            asp-page-handler="BySiteName"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Assignment Report By Site Name
    <br />
    <button id="ByUnit"
            asp-page-handler="ByUnit"
            class="btn btn-sm btn-outline-primary mb-1">
        Report
    </button>
    Assignment Report By Unit
</form>