@page
@model Pages.Facilities.AddModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewData["Title"] = "Add Facility";
}
<h1>@ViewData["Title"]</h1>
<div class="container-fluid bg-light py-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Facility.FileLabel"></label>
                <input asp-for="Facility.FileLabel" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="Facility.FileLabel" class="text-danger"></span>
                <small id="FileIdHelpBlock" class="form-text text-muted">Enter an existing File or leave blank to create a new File.</small>
            </div>
            <div class="form-group col-md-3">
                <label>Facility Number <span class="text-danger">*</span></label>
                <input asp-for="Facility.FacilityNumber" class="form-control" />
                <span asp-validation-for="Facility.FacilityNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label>Facility Type  <span class="text-danger">*</span></label>
                <select asp-for="Facility.FacilityTypeId" asp-items="Model.FacilityTypes" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.FacilityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label>Organizational Unit <span class="text-danger">*</span></label>
                <select asp-for="Facility.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.OrganizationalUnitId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Compliance Officer  <span class="text-danger">*</span></label>
                <select asp-for="Facility.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.ComplianceOfficerId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label>Budget Code <span class="text-danger">*</span></label>
                <select asp-for="Facility.BudgetCodeId" asp-items="Model.BudgetCodes" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.BudgetCodeId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.EnvironmentalInterestId"></label>
                <select asp-for="Facility.EnvironmentalInterestId" asp-items="Model.EnvironmentalInterests" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.EnvironmentalInterestId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label>Facility Status  <span class="text-danger">*</span></label>
                <select asp-for="Facility.FacilityStatusId" asp-items="Model.FacilityStatuses" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.FacilityStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Facility Name <span class="text-danger">*</span></label>
                <input asp-for="Facility.Name" class="form-control" />
                <span asp-validation-for="Facility.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Street Address <span class="text-danger">*</span></label>
                <input asp-for="Facility.Address" class="form-control" />
                <span asp-validation-for="Facility.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>City <span class="text-danger">*</span></label>
                <input asp-for="Facility.City" class="form-control" />
                <span asp-validation-for="Facility.City" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label>County <span class="text-danger">*</span></label>
                <select asp-for="Facility.CountyId" asp-items="Model.Counties" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.CountyId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label>State <span class="text-danger">*</span></label>
                <select asp-for="Facility.State" asp-items="Model.States" class="custom-select">
                </select>
                <span asp-validation-for="Facility.State" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label>ZIP Code <span class="text-danger">*</span></label>
                <input asp-for="Facility.PostalCode" class="form-control" />
                <span asp-validation-for="Facility.PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Facility.Location"></label>
                <input asp-for="Facility.Location" class="form-control" />
                <span asp-validation-for="Facility.Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label>Latitude <span class="text-danger">*</span></label>
                <input asp-for="Facility.Latitude" class="form-control" />
                <span asp-validation-for="Facility.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label>Longitude <span class="text-danger">*</span></label>
                <input asp-for="Facility.Longitude" class="form-control" />
                <span asp-validation-for="Facility.Longitude" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2">Create New Facility</button>
            </div>
        </div>
    </form>
</div>