@page "{id:Guid?}"
@model Pages.Facilities.EditModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function domReady() {
            $("#Facility_FileLabel").change(function () {
                if ($(this).val() === "") {
                    $("#FileIdHelpBlock").removeClass("d-none");
                } else {
                    $("#FileIdHelpBlock").addClass("d-none");
                }
            });
        });
    </script>
}
@{
    ViewData["Title"] = $"Edit Facility: {Model.Facility.FacilityNumber}";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="container-fluid">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Facility.FileLabel"></label>
                <input asp-for="Facility.FileLabel" class="form-control" aria-describedby="FileIdHelpBlock" />
                <span asp-validation-for="Facility.FileLabel" class="text-danger"></span>
                <small id="FileIdHelpBlock" class="d-none form-text px-1 rounded bg-info text-white">A blank File Label will create a new File.</small>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.FacilityNumber"></label>
                <input asp-for="Facility.FacilityNumber" class="form-control" />
                <span asp-validation-for="Facility.FacilityNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.FacilityTypeId"></label>
                <select asp-for="Facility.FacilityTypeId" asp-items="Model.FacilityTypes" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.FacilityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.OrganizationalUnitId"></label>
                <select asp-for="Facility.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.OrganizationalUnitId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Facility.ComplianceOfficerId"></label>
                <select asp-for="Facility.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.ComplianceOfficerId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.BudgetCodeId"></label>
                <select asp-for="Facility.BudgetCodeId" asp-items="Model.BudgetCodes" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.BudgetCodeId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Facility.EnvironmentalInterestId"></label>
                <select asp-for="Facility.EnvironmentalInterestId" asp-items="Model.EnvironmentalInterests" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.EnvironmentalInterestId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Facility.FacilityStatusId"></label>
                <select asp-for="Facility.FacilityStatusId" asp-items="Model.FacilityStatuses" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.FacilityStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Facility.Name"></label>
                <input asp-for="Facility.Name" class="form-control" />
                <span asp-validation-for="Facility.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Facility.Address"></label>
                <input asp-for="Facility.Address" class="form-control" />
                <span asp-validation-for="Facility.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Facility.City"></label>
                <input asp-for="Facility.City" class="form-control" />
                <span asp-validation-for="Facility.City" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Facility.CountyId"></label>
                <select asp-for="Facility.CountyId" asp-items="Model.Counties" class="custom-select">
                </select>
                <span asp-validation-for="Facility.CountyId" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Facility.State"></label>
                <select asp-for="Facility.State" asp-items="Model.States" class="custom-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Facility.State" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Facility.PostalCode"></label>
                <input asp-for="Facility.PostalCode" class="form-control" />
                <span asp-validation-for="Facility.PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Facility.Location"></label>
                <input asp-for="Facility.Location" class="form-control" />
                <span asp-validation-for="Facility.Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label asp-for="Facility.Latitude"></label>
                <input asp-for="Facility.Latitude" class="form-control" />
                <span asp-validation-for="Facility.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Facility.Longitude"></label>
                <input asp-for="Facility.Longitude" class="form-control" />
                <span asp-validation-for="Facility.Longitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col">
                <div class="form-check">
                    <input asp-for="Facility.Active" />
                    <label asp-for="Facility.Active" class="form-check-label"></label>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary col-md-2">Save Changes</button>
                <a href="javascript: history.go(-1)" class="btn btn-outline-secondary col-md-2">Cancel</a>
            </div>
        </div>
    </form>
</div>
