@page
@using FMS.Pages.Reporting.HSISiteLists
@model FMS.Pages.Reporting.HSISiteLists.IndexModel

@{
    ViewData["Title"] = $"HSI Site List Reports";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<hr />
<h2><i>Under Construction</i></h2>