<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dev-fms.gaepd.org</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>67eebcce-acdd-435b-926b-1a2620d248c5</ProjectGuid>
    <MSDeployServiceURL>dev-fms.gaepd.org</MSDeployServiceURL>
    <DeployIisAppPath>fms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>SOG\akarasch</UserName>
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MsDeploySkipRules Include="SkipAppSettings">
      <ObjectName>filePath</ObjectName>
      <AbsolutePath>appsettings.*.json</AbsolutePath>
    </MsDeploySkipRules>
    <MsDeploySkipRules Include="SkipLibrarySettings">
      <ObjectName>filePath</ObjectName>
      <AbsolutePath>libman.json</AbsolutePath>
    </MsDeploySkipRules>
    <MsDeploySkipRules Include="SkipWebConfig">
      <ObjectName>filePath</ObjectName>
      <AbsolutePath>web.config</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>
</Project>