# Workflow to register a new application deployment with Raygun.

name: Raygun Deployment Tracking

on:
  push:
    tags: [prod/*]

permissions:
  contents: read

jobs:
  raygun-deployment:
    name: Send deployment info to Raygun
    runs-on: ubuntu-latest
    steps:
      - name: Get the version number
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF##*/}

      - name: Send to the Raygun Deployments API
        id: raygun_deployment
        uses: fjogeleit/http-request-action@1297c6fc63a79b147d1676540a3fd9d2e37817c5
        with:
          url: https://app.raygun.com/deployments?authToken=${{ secrets.RAYGUN_AUTHTOKEN }}
          method: POST
          data: >-
            {
              "apiKey": "${{ secrets.RAYGUN_APIKEY }}",
              "version": "${{ steps.get_version.outputs.VERSION }}",
              "ownerName": "${{ github.event.pusher.name }}",
              "emailAddress": "${{ github.event.pusher.email }}",
              "scmIdentifier": "${{ github.sha }}"
            }

      - name: Show response
        run: echo ${{ steps.send_deployment.outputs.response }}
