name: SonarCloud Scan

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  issues: write

jobs:
  sonarcloud-scan:
    # ↓ Change this to "false" to disable the workflow without any alert messages.
    if: ${{ true }}
    # ↑ Change to "true" (or delete) to enable the workflow.

    name: Analyze with SonarCloud
    runs-on: windows-latest
    steps:
      - name: Set up Java JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 17
          distribution: "zulu" # Alternative distribution options are available.

      - name: Check out repository
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up .NET
        uses: actions/setup-dotnet@740310365d5065c44c30d213e7963107ebfd22d5
        with:
          global-json-file: global.json

      - name: Cache SonarCloud packages
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Install Coverlet as global dotnet tool
        shell: powershell
        run: |
          dotnet tool install --global coverlet.console

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"gaepdit_FMS" /o:"gaepdit" /d:sonar.token="$env:SONAR_TOKEN" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.opencover.reportsPaths=coverage.xml /d:sonar.exclusions=FMS.Infrastructure/Migrations/**,FMS/Platform/DevHelpers/SeedData/**
          dotnet build
          coverlet .\artifacts\FMS.Domain.Tests\bin\Debug\net9.0\FMS.Domain.Tests.dll --target "dotnet" --targetargs "test tests/FMS.Domain.Tests --no-build"
          coverlet .\artifacts\FMS.App.Tests\bin\Debug\net9.0\FMS.App.Tests.dll --target "dotnet" --targetargs "test tests/FMS.App.Tests --no-build" --exclude "[TestHelpers]*" --exclude "[FMS.Infrastructure]FMS.Infrastructure.Migrations.*" --merge-with "coverage.json"
          coverlet .\artifacts\FMS.Infrastructure.Tests\bin\Debug\net9.0\FMS.Infrastructure.Tests.dll --target "dotnet" --targetargs "test tests/FMS.Infrastructure.Tests --no-build" --exclude "[TestHelpers]*" --exclude "[FMS.Infrastructure]FMS.Infrastructure.Migrations.*" --merge-with "coverage.json" -f=opencover -o="coverage.xml"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="$env:SONAR_TOKEN"
