@page
@model FacilitySearchResultsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="text-center">
    <h4>Search Results</h4>
    <div id="ResultMap" class="container-fluid">
        <h4>Map of results here</h4>
    </div>
    <div id="ResultList" class="container-fluid">
        <h4>Search Results</h4>
        <h4>List of results here</h4>
    </div>
</div>
