@page
@model FacilityAddModel
@{
    ViewData["Title"] = "Add Facility";
}
    <div class="text-center">
        <h4 style="color:white">Add New Facility</h4>
        <div class="jumbotron">
            <h3 style="color:white">Add New Facility Here</h3>
        </div>
    </div>