@page
@model HomeModel
@{
    ViewData["Title"] = "Home";
}
<div>
    <div class="text-center">
        <h4 style="color:white">Welcome to The EPD File Management System</h4>
</div>
    <div class="card-columns">
        <div id ="CardSearch" class="card">
            <div class="card-img" style=" background-image: url('graphics/find_facility.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">Find a Facility</h5>
                <p class="card-text" style="color:white">Search for Facilities and Files here</p>
                <a href="Search" class="btn btn-primary align-content-lg-center" >Search</a>
            </div>
        </div>
        <div id="CardReports" class="card">
            <div class="card-img" style="background-image: url('graphics/reports.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">Reports</h5>
                <p class="card-text" style="color:white">Get Reports here</p>
                <a href="Reports" class="btn btn-primary">Reports</a>
            </div>
        </div>
        <div id="CardFacAdd" class="card">
            <div class="card-img" style="background-image: url('graphics/modify_facility.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">Facility Administration</h5>
                <p class="card-text" style="color:white">Add, Edit or Delete Facility Data here</p>
                <a href="FacilityAdd" class="btn btn-primary">Add Facility</a>
                <a href="FacilityEdit" class="btn btn-primary">Edit Facility</a>
            </div>
        </div>
        @*<div id="CardFacEdit" class="card">
            <div class="card-img" style="background-image: url('graphics/modify_facility.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">Edit a Facility</h5>
                <p class="card-text" style="color:white">Edit Facility Data here</p>
                <a href="FacilityEdit" class="btn btn-primary">Edit Facility</a>
            </div>
        </div>*@
        <div id="CardEditUsers" class="card">
            <div class="card-img" style="background-image: url('graphics/epd logo_final - transparent 220.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">User Administration</h5>
                <p class="card-text" style="color:white">Add, Edit or Delete User Information here</p>
                <a href="AddUser" class="btn btn-primary">Add User</a>
                <a href="EditUsers" class="btn btn-primary">Edit User</a>
            </div>
        </div>
        <div id="CardEditDropDown" class="card">
            <div class="card-img" style="background-image: url('graphics/epd logo_final - transparent 220.png');"></div>
            <div class="card-body">
                <h5 class="card-title" style="color:white">Menu Administration</h5>
                <p class="card-text" style="color:white">Add, Edit or Delete Drop-Down Menu Choices here</p>
                <a href="EditDropDown" class="btn btn-primary">Edit Menus</a>
            </div>
        </div>
    </div>
</div>
