@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2 style="color:white">EPD File Management System</h2>
    <h3 style="color:white">Please Login</h3>
</div>
<div class="jumbotron text-center align-content-sm-center">
    <form class="align-content-center">
        <div class="form-row  justify-content-center" >
            <div class="col-4" >
                <div class="input-group input-group">
                    <input id="Username" type="text" class="form-control" placeholder="Enter Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br/>
        <div class="form-row justify-content-center">
            <div class="col-4">
                <div class="input-group input-group">
                    <input id="Password" type="password" class="form-control" placeholder="Enter Password" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-row justify-content-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary mb-2">Login</button>
            </div>
        </div>
    </form>
</div>
