@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">EPD File Management System</h1>
</div>
<div class="jumbotron text-center align-content-md-center">
    <div class="align-content-center">
        <p>User Name</p>
        <input id="UserID" type="text" title="User Name" l />
        <br />
        <p></p>
        <p>Password</p>
        <input id="UserID" type="text" title="Password" />
        <br />
        <p></p>
        <input id="Button1" type="button" value="Login" />
    </div>
</div>
