@page
@model ModifyRecordModel
@{
    ViewData["Title"] = "Record Edit";
}
<div class="text-center">
    <h1 class="display-4">Editing Page Here</h1>
    <h3>This where editing of records takes place</h3>
</div>