@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="text-center">
        <h4 >@ViewData["Title"]</h4>
        <div class="jumbotron">
            <h3 style="color:white">Use this page to detail your site's privacy policy.</h3>
        </div>
    </div>