@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3>Use this page to detail your site's privacy policy.</h3>
</div>