@page
@model ReportsModel
@{
    ViewData["Title"] = "Reports";
}
<div class="text-center">
    <h4 >Reports</h4>
    <div class="container-fluid">
        <h3 >Report Choices Here</h3>
    </div>
</div>