@page
@model SearchGISModel
@{
    ViewData["Title"] = "Map Search";
}
<div class="text-center">
    <h4 style="color:white">Use Map to Search for Facilities</h4>
    <div class="jumbotron">
        <h3 style="color:white">GIS Search page here</h3>
        <img src="~/graphics/GOOGLEMAP.jpg" />
    </div>
</div>