@page
@model SearchTextModel
@{
    ViewData["Title"] = "File Search";
}

<div class="text-center">
    <h1 class="display-4">Main File Search Page</h1>
    <h3>Searching for files will take place here</h3>
</div>