@page
@model ShowCabinetModel
@{
    ViewData["Title"] = "File Cabinet";
}
    <div class="text-center">
        <h4 >File Cabinet Contents</h4>
        <div class="container-fluid">
            <h3>File Cabinet Data Here</h3>
        </div>
    </div>
