@page
@model ShowFacilityModel
@{
    ViewData["Title"] = "Facility Info";
}
    <div class="text-center">
        <h4 style="color:white">Facility Information</h4>
        <div class="jumbotron">
            <h3 style="color:white">Facility Data Here</h3>
        </div>
    </div>