@page
@model ShowFacilityModel
@{
    ViewData["Title"] = "Facility Info";
}
    <div class="text-center">
        <h4 >Facility Information</h4>
        <div class="container-fluid">
            <h3>Facility Data Here</h3>
        </div>
    </div>