@page
@model ShowCabinetModel
@{
    ViewData["Title"] = "File Cabinet";
}
    <div class="text-center">
        <h4 style="color:white">File Cabinet Contents</h4>
        <div class="jumbotron">
            <h3 style="color:white">File Cabinet Data Here</h3>
        </div>
    </div>
