@page
@model UserAdminModel
@{
    ViewData["Title"] = "User Admin";
}
<div class="text-center">
    <h5 style="color:white">User Administration</h5>
    <div class="jumbotron">
        <h4 style="color:white">Search for User</h4>
        <form>
            <div class="form-row justify-content-center">
                <div class="col-5">
                    <div class="input-group input-group">
                        <input id="FileID" type="text" class="form-control" placeholder="Enter the Name of a User to Search (Real Name)" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row justify-content-center">
                <div class="col-2">
                    <button id="UserSearch" type="submit" class="btn btn-primary mb-5">Search for User</button>
                </div>
                <div class="col-2">
                    <button type="reset" class="btn btn-primary mb-2">Reset User Search</button>
                </div>
            </div>
        </form>
        <form>
            <div class="form-row justify-content-center">
                <div class="col-6">
                    <div class="input-group input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" aria-label="First name" class="form-control" placeholder="First Name Result">
                        <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name Result">
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row justify-content-center">
                <div class="col-4">
                    <div class="input-group input-group">
                        <input id="UserID" type="text" class="form-control" placeholder="User Name Result" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group">
                        <input id="Password" type="text" class="form-control" placeholder="Password Result" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelectProgram">
                            <option selected>Program Result</option>
                            <option value="1">Program One</option>
                            <option value="2">Program Two</option>
                            <option value="3">Program Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-3">
                    <button id="SaveChanges" type="submit" class="btn btn-primary mb-5">Submit Changes</button>
                </div>
                <div class="col-3">
                    <button id="ResetChanges" type="submit" class="btn btn-primary mb-2">Reset Changes</button>
                </div>
                <div class="col-3">
                    <button id="ResetResults" type="reset" class="btn btn-primary mb-2">Reset Search Results</button>
                </div>
            </div>
        </form>
    </div>
    <div class="jumbotron">
        <h4 style="color:white">Add a New User</h4>
        <form>
            <div class="form-row justify-content-center">
                <div class="col-6">
                    <div class="input-group input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input id="NewFirstName" type="text" aria-label="First name" class="form-control" placeholder="Enter First Name">
                        <input id="NewLastName" type="text" aria-label="Last name" class="form-control" placeholder="Enter Last Name">
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row justify-content-center">
                <div class="col-3">
                    <div class="input-group input-group">
                        <input id="NewUserID" type="text" class="form-control" placeholder="Enter New User Name" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group">
                        <input id="NewPassword" type="password" class="form-control" placeholder="Enter New Password" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group">
                        <input id="RENewPassword" type="password" class="form-control" placeholder="Re-Enter New Password" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelectNewProgram">
                            <option selected>New User's Program</option>
                            <option value="1">Program One</option>
                            <option value="2">Program Two</option>
                            <option value="3">Program Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-3">
                    <button id="Submit New User" type="submit" class="btn btn-primary mb-5">Submit Changes</button>
                </div>
                <div class="col-3">
                    <button id="ResetNewUser" type="reset" class="btn btn-primary mb-2">Reset New User Form</button>
                </div>
            </div>
        </form>
    </div>
</div>
