@page
@model UserAdminModel
@{
    ViewData["Title"] = "User Admin";
}
<div class="text-center">
    <h5 >User Administration</h5>
    <div class="container-fluid">
        <h4 >Edit User Information</h4>
        <form>
            <div class="form-row justify-content-center">
                <div class="col-6">
                    <div class="input-group input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" aria-label="First name" class="form-control" placeholder="First Name Result">
                        <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name Result">
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row justify-content-center">
                <div class="col-4">
                    <div class="input-group input-group">
                        <input id="UserID" type="text" class="form-control" placeholder="User Name Result" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group">
                        <input id="Password" type="text" class="form-control" placeholder="Password Result" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelectProgram">
                            <option selected>Program Result</option>
                            <option value="1">Program One</option>
                            <option value="2">Program Two</option>
                            <option value="3">Program Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-3">
                    <button id="SaveChanges" type="submit" class="btn btn-primary mb-5">Submit Changes</button>
                </div>
                <div class="col-3">
                    <button id="ResetChanges" type="submit" class="btn btn-primary mb-2">Reset Changes</button>
                </div>
                <div class="col-3">
                    <button id="DeleteUser" type="submit" class="btn btn-primary mb-2">Delete User</button>
                </div>
            </div>
        </form>
    </div>
</div>
